# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Save data
world_data.json

# PyCharm user-specific files
.idea/workspace.xml
.idea/profiles_settings.xml

# OS clutter
.DS_Store
Thumbs.db
/.idea
